:root {
    --main-background-color: #FFFFFF;
    --second-background-color: #f4f4fd;
    --title-color: #2E2F42;
    --text-color: #434455;
    --link-color: #4D5AE5;

}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    background-color: var(--main-background-color);
    color: var(--text-color);
}

/* -----------Summary styles---------------- */

.link {
    text-decoration: none;

}

.list {
    list-style: none;
}

/* for h2 */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-color);
}

/* for h3 */
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

/* for p */
.text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}

/* portfolio buttons */
.btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--link-color);
    background-color: var(--second-background-color);
    cursor: pointer;
}

/* -----------------HEADER------------------- */
.header {}

.header-navigation {}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--link-color);
}

.header-logo .part-logo {
    color: var(--title-color);
}

.header-logo:hover,
.header-logo:focus {
    color: var(--link-color);
}

.header-list {}

.header-item {}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-list {}

.contacts-item {}

.contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf
}

/* .contacts-mail,
.contacts-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.contacts-mail:hover,
.contacts-mail:focus {
    color: #404bbf;
}

.contacts-tel:hover,
.contacts-tel:focus {
    color: #404bbf;
} */

/* -----------------HEROr------------------- */
.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/* -----------------Direction/noname section------------------- */


/* -----------------Examples of work------------------- */


/* -----------------OUR TEAM------------------- */


.team {
    background-color: var(--second-background-color);
}

.team-item {
    background-color: var(--main-background-color);
}

/* -----------------FOOTER------------------- */

.footer {
    background-color: #2E2F42;
}

.footer-logo {}

.foot-part-logo {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
}

/* ------****************PAGE PORTFOLIO***************** */

.filter {}

.btn-list {}

.list {}

.btn-item {}

.btn-text:hover,
.btn-text:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.btn {}